@tailwind base;
@tailwind components;
@tailwind utilities;

.animation-hover:after {
    background: none repeat scroll 0 0 transparent;
    content: "";
    height: 2px;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    @apply w-0 bg-orange-500 left-1/2 block bottom-0 absolute;
  }
  .animation-active:after {
    @apply left-0 w-full;
  }
  .animation-hover:hover:after {
    @apply left-0 w-full;
  }

  /*  */
  :root {
    --banner_color: rgba(0, 0, 0, .62);
    --banner_color2: rgba(0, 0, 0, .62);
    --url: url(../public/img/banner.jpg);
  }
  
  
  .hero-homepage {
  
    background: linear-gradient(to right, var(--banner_color), var(--banner_color2)), var(--url);
    background-size: cover;
  }